
.burger {
    display: none;
}
.none{
   display: none;
}

@media (max-width:700px) {
    body.lock {
        overflow: hidden;
    }
    .nav__bar {
        height: 60px;
    }
    .nav__menu{
      display: none;
    }
    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .burger span {
        position: absolute;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .3s ease;
    }
    .burger::before,
    .burger::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease;
    }
    .burger::before {
        top: 0;
    }
    .burger::after {
        bottom: 0;
    }
    .burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .burger.active span{
        transform: scale(0);
    }
    .burger__menu {
        position: fixed;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #23232352;
        transition: all .3s ease;
        overflow: auto;
    }
    .burger__menu.active {
        left: 0;
    }
    .burger__menu {
        display: block;
    }
    .burger__menu li{
      list-style: none;
      margin-top: 30px;
    }
    .burger__menu a{
      text-decoration: none;
      font-size: 24px;
      color:#fff;
    }

}

